* {
    box-sizing: border-box;
}

.content-box {
    box-sizing: content-box;
}

.border-box {
    box-sizing: border-box;
}




p{
    color:green;
}

.back{
background-color: blue;
}

div {
    background-color: blueviolet;
    border: solid 1px;
    padding: 10px;
    height:
}

button{

    margin: 10px;
    padding:10px;
}

a:link {
    color:blue
    text-decoration: underline;
}



.defualtheight {
    height: auto;

}

.explictheight {
   height: 100px;
}